{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <div class="my-10">
        <div class="main-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facere ut neque explicabo maxime enim. Dolorum, velit est? Nulla tempore quis necessitatibus fugiat provident aspernatur quam animi sunt. Sequi, rerum?</p>
        </div>
    </div>
{% endblock %}
