@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-100;
}

.main-container {
  @apply max-w-screen-lg mx-auto px-5;
}

#spacer {
  height: 62px;
  width: 100%;
}

@screen xl {
  .main-container {
    @apply px-0;
  }
}

.form-input {
  @apply py-2 px-3 border shadow-sm rounded placeholder-gray-500 focus:outline-none focus:border-black;
}

.post {
  @apply object-cover w-full;
  max-height: 600px;
}
