<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <title>Picsy &bull; {% block title %}{% endblock %}</title>
    </head>

    <body>
        {% if app.request.get('_route') == 'home' and app.user %}
            {% include "includes/header.html.twig" %}
        {% endif %}
        <div id="spacer"></div>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% if app.request.get('_route') == 'home' and app.user %}
            {% include "includes/footer.html.twig" %}
        {% endif %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {% for message in app.flashes('green') %}
                <script src="/assets/js/notyf.js"></script>
                <script>
                    let message = {{ message|json_encode(constant('JSON_HEX_TAG'))|raw }}
                    const notyf = new Notyf({
                        duration: 3000,
                        position: {
                            x: 'center',
                            y: 'top'
                        },
                        types: [
                            {
                                type: 'success',
                                background: '#48bb78'
                            },
                            {
                                type: 'error',
                                background: '#e53e3e'
                            }
                        ]
                    })
                    notyf.success(message)
                </script>
            {% endfor %}
            {% for message in app.flashes('red') %}
                <script src="/assets/js/notyf.js"></script>
                <script>
                    let message = {{ message|json_encode(constant('JSON_HEX_TAG'))|raw }}
                    const notyf = new Notyf({
                        duration: 3000,
                        position: {
                            x: 'center',
                            y: 'top'
                        },
                        types: [
                            {
                                type: 'success',
                                background: '#48bb78'
                            },
                            {
                                type: 'error',
                                background: '#e53e3e'
                            }
                        ]
                    })
                    notyf.error(message)
                </script>
            {% endfor %}
        {% endblock %}
    </body>
</html>