<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% include "includes/header.html.twig" %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% include "includes/footer.html.twig" %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>