<div class="border shadow-sm mb-5">
    <div class="bg-white p-3">
        <div class="flex items-center text-xs">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div>
                <p class="font-bold">{{ post.user.name }}</p>
                {% if post.location %}
                    <span>{{ post.location }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <img src="{{ post.picture }}" alt="" class="w-full h-auto">
</div>