{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}
    
{% block body %}
    <div class="main-container my-5">
        <div class="grid grid-cols-3 gap-6">
            <div class="col-span-2">
                {% for post in posts %}
                    {% include "post/_card.html.twig" %}
                {% endfor %}
            </div>

            <div>
                
            </div>
        </div>
    </div>
{% endblock %}